In [30]:
#calculate square of each element in list
#ip-[5,3,2,9]
#op-[25,9,4,81]
n=input("enter the number").split()
for i in range(len(n)):
    n[i]=int(n[i])
    print(n[i]**2,end=" ")

enter the number2 3 4 5
4 9 16 25

In [21]:
n1=int(input("enter first number"))
n2=int(input("enter the second number"))
s=n1+n2
print(s)

enter first number8
enter the second number9
17

In [22]:

n=print("hello world")

hello world

In [24]:
n=input()
print("hello",n)

astha
hello astha

In [27]:
d={}
d[12]="astha"
d[13]="pallavi"
d[14]="aditya"
print(d)

{12: 'astha', 13: 'pallavi', 14: 'aditya'}

In [32]:
#sep='',end='',flush='false'-sep,end,flush are keyword argument
#help(str.split)
#without any argument and return value
def hello(name):
    print("hello"+name)
hello("astha")

helloastha

In [41]:
def hello(fname,lname):
    print("hello "+fname+' '+lname)
hello(fname="astha",lname="mishra")
hello("astha","mishra")
hello("astha",lname="mishra")

hello astha mishra
hello astha mishra
hello astha mishra

In [43]:
#should mention the optional argument
def hello(fname,company="promize it"):
    print("hello "+fname+' '+company)
hello("raj","dell")
hello("raj")

hello raj dell
hello raj promize it

In [44]:
#function with return value
def cube(n):
    return n**3
print(cube(5))
a=cube(5)
print(a)

125
125

In [46]:
def powern(n):
    d=len(str(n))
    return n**d,d
value,digit=powern(11)
print(value,digit)
values=powern(11)
print(values,type(values))
print(powern(11))

121 2
(121, 2) <class 'tuple'>
(121, 2)

In [52]:
def prod(*numbers):
    m=1
    for i in numbers:
        m*=i
    return m
print(prod(2,3))
print(prod(2,3,4))
print(prod(2,3,4,5))

6
24
120

In [ ]:
def markssum(**numbers):
    marks=[]
    for i in numbers:
        marks.append(sum(numbers[i])
    return marks
markssum(std1)